asgiref==3.7.2
Django==5.0.4
django-widget-tweaks==1.4.12       # newer version is more compatible
pytz==2024.1
sqlparse==0.4.4
gunicorn==21.2.0
setuptools>=70.0.0                  # leave as >= to avoid build errors
Pillow==10.0.0
wheel==0.41.2
